.landingPageContainer {
	display: flex;
	flex-direction: column;
	min-height: 85vh;
}

.Site-Content {
	display: flex;
}

.imgWrapper {
	max-width: 50%;
	height: 400px;
	margin-left: 5%;
	margin-top: 5%;
}

.babysitterImg {
	width: 700px;
	height: 275px;
}
.searchForm {
	display: flex;
	justify-content: center;
}

.legend {
	margin-top: 10%;
	margin-left: 15%;
	font-size: 24px;
	margin-bottom: 15px;
}

.descriptionWrapper {
	display: flex;
	max-width: 50%;
	flex-direction: column;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 6%;
	text-align: center;
}

.description {
	font-size: 28px;
}

.label {
	font-size: 24px;
	padding-right: 10px;
	margin-top: 30px;
}

.searchSitterByZipInput {
	height: 20px;
}

.searchButton {
	height: 24px;
}

.zipCodeForm {
	display: block;
	text-align: center;
}

@media only screen and (min-width: 1600px) {
	.babysitterImg {
		width: 600px !important;
		height: 300px;
		margin-top: 20px;
	}
	.descriptionWrapper {
		max-width: 50%;
		margin-right: 0%;
	}
	.description {
		font-size: 30px;
		text-align: center;
	}
	.legend {
		margin-left: 0px;
	}
	.searchSitterByZipInput {
		margin-top: 10px;
	}
	.imgWrapper {
		width: 600px;
	}
}

@media only screen and (min-width: 1025px) {
	.babysitterImg {
		width: 500px;
		height: 250px;
		margin-top: 20px;
	}
	.description {
		font-size: 22px;
		text-align: left;
	}
	.legend {
		margin-left: 0px;
	}
	.searchSitterByZipInput {
		margin-top: 10px;
	}
}
