.sitterResultList {
  display: flex;
  justify-content: space-between !important;
  flex-flow: row wrap;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
}

.sitterResultHeader {
  display: flex;
  align-items: center;
}

.contactSitterButton {
  margin-right: 40px;
  margin-bottom: 40px;
}

.sitterFirstName, .sitterLocation, .sitterRate, .sitterHeader, .individualSitter, .yearsExperience {
  font-size: 18px;
}
