.nav-bar {
    display: flex;
    padding: 5px 30px;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    font-family: 'PT Sans Narrow', sans-serif;
    height: 80px;
    z-index: 100000;
    background: white;
  }

.right {
    justify-content: flex-end
  }