.container {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    margin: auto;
    width: 50%;
    border-radius: 3px;
    border:2px solid #4CAF50;
    box-shadow:0 0 10px #999;
}

.formGroup {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    /* margin-top: 3px; */
    margin: auto;
}

.formGroup label, .formGroup input {
    display: block;
}

.formGroup input {
    font-size: inherit;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button:hover {
      background-color: rgb(65, 100, 65)
  }
