html {
	font-family: 120%/1.5 sans-serif;
}

body {
	margin: 0;
	padding: 0;
	/* font-family: sans-serif; */
	background-color: whitesmoke;
}

ul {
	list-style: none;
	padding-left: 0;
}

.routerWrapper {
	width: 55%;
	max-width: 1000px;
	margin: 5rem auto;
}

a {
	color: black !important;
}

.button {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.button:hover {
	background-color: rgb(65, 100, 65);
}
